@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #FF96B8;
    --back-color: #FF96B8;
    background-color: var(--back-color);
}